<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><span translate>Galería</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title class="ion-text-start ion-padding-start ion-margin-top" color="medium"> Cúmulo </ion-title>
  <ion-item-divider class="ion-margin-top ion-margin-bottom" color="light"></ion-item-divider>

  <ion-grid>
    <ion-row>
      <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide" class="img-gallery">
        <a
          *ngFor="let url of imgList"
          class="gallery-item"
          [attr.data-src]="url"
          [attr.sub-html]="'<h4>Nodo 3_13_0_1398</h4>'"
        >
          <img alt="SiPeCaM fauna" class="img-responsive" [src]="url" />
        </a>
      </lightgallery>
    </ion-row>
  </ion-grid>
</ion-content>
