<ion-content class="ion-text-center ion-no-margin">
  <ion-toolbar class="ion-text-start" color="dark">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false" menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-label><b>Mapa SiPeCaM </b></ion-label>
  </ion-toolbar>

  <div class="filter-bar" [ngClass]="{ 'hidden-filter-bar': !showFilterBar }">
    <ion-button class="display-button" fill="clear" size="small" (click)="showFilterBar = !showFilterBar">
      <ion-icon *ngIf="showFilterBar" slot="icon-only" name="remove" color="medium"></ion-icon>
      <ion-icon *ngIf="!showFilterBar" slot="icon-only" name="resize" color="medium"></ion-icon>
    </ion-button>
    <app-filters
      [filters]="filtersService.filters"
      [fs]="filtersService"
      [ngClass]="{ hidden: !showFilterBar }"
    ></app-filters>
  </div>
  <div id="map"></div>
  <div class="img-slider-container">
    <ng-image-slider
      #slider
      [images]="imageObject"
      [imageSize]="{ width: '250px', height: '150px' }"
      [infinite]="true"
      [autoSlide]="5"
      [imagePopup]="false"
      (imageClick)="showImageLocation($event)"
    >
    </ng-image-slider>
  </div>
</ion-content>
