<ion-toolbar color="primary" class="ion-text-center">
  <h2 *ngIf="socio">Editar Socio {{ socio.idSocio }}</h2>
  <h2 *ngIf="!socio">Agregar Socio</h2>
</ion-toolbar>

<ion-content>
  <form [formGroup]="socioForm">
    <ion-list class="ion-text-end">
      <ion-item>
        <ion-label position="fixed">Nombre</ion-label>
        <ion-input slot="end" type="text" formControlName="firstname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Apellido</ion-label>
        <ion-input slot="end" type="text" formControlName="lastname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Correo</ion-label>
        <ion-input slot="end" type="text" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Teléfono</ion-label>
        <ion-input slot="end" type="number" formControlName="phoneNumber"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Dirección</ion-label>
        <ion-textarea slot="end" type="number" formControlName="address"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Institución</ion-label>
        <ion-input slot="end" type="text" formControlName="institution"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Grado</ion-label>
        <ion-input slot="end" type="text" formControlName="grade"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Comentarios</ion-label>
        <ion-textarea slot="end" type="text" formControlName="comments"></ion-textarea>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
<ion-footer class="ion-text-center">
  <ion-button fill="solid" [disabled]="socioForm.invalid">
    <span *ngIf="socio">Guardar cambios</span>
    <span *ngIf="!socio">Agregar cúmulo</span>
  </ion-button>
</ion-footer>
