<ion-content>
  <ion-card class="ion-text-center ion-no-margin detail-card">
    <ion-card-header color="dark">
      <ion-card-title>Detalle de nodo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid *ngIf="node" class="ion-margin-top">
        <ion-row>
          <ion-col><b>ID</b></ion-col>
          <ion-col class="ion-text-end">{{ node.nomenclatura }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col><b>Ecosistema</b></ion-col>
          <ion-col class="ion-text-end">{{ node.ecosystem_id }} - {{ getEcosystemText(node.ecosystem_id) }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col><b>Cúmulo</b></ion-col>
          <ion-col class="ion-text-end">{{ cumulus.name }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col><b>Módulo</b></ion-col>
          <ion-col class="ion-text-end">{{ node.cat_integr }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col><b>Socio</b></ion-col>
          <ion-col class="ion-text-end">{{ getSocioText(node.con_socio) }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-end">
            <b>Longitud:</b> {{ node.location?.coordinates[0] }} / <b>Latitud:</b> {{ node.location?.coordinates[1] }} /
            <b>Altitud:</b> {{ node.location?.coordinates[2] }}m</ion-col
          >
        </ion-row>
      </ion-grid>

      <div id="detail-map"></div>
      <ion-button
        expand="block"
        fill="outline"
        href="http://selia-env.eba-3pecr5yq.us-west-2.elasticbeanstalk.com/upload/?collection=3&licence=1&item_type=154"
        target="_blank"
        >Subir archivos</ion-button
      >
      <ion-button expand="block" fill="outline" (click)="dismiss()">Cerrar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
