<ion-content>
  <ion-card class="ion-text-center">
    <ion-card-header color="light">
      <ion-row>
        <ion-col><b>ID</b></ion-col>
        <ion-col><b>Ecosistema</b></ion-col>
        <ion-col><b>Integridad</b></ion-col>
        <ion-col><b>Latitud</b></ion-col>
        <ion-col><b>Longitud</b></ion-col>
        <ion-col><b>Socio</b></ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>

  <ion-grid>
    <ion-row *ngFor="let n of nodes" class="ion-text-center">
      <ion-col>{{ n.id_sipe }}</ion-col>
      <ion-col>{{ n.ecosistema }}</ion-col>
      <ion-col>{{ n.cat_itegr }}</ion-col>
      <ion-col>{{ n.latitud }}</ion-col>
      <ion-col>{{ n.longitud }}</ion-col>
      <ion-col>{{ n.con_socio }}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
