<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="font-family">¿Quiénes somos?</ion-title>
  </ion-toolbar>
</ion-header>

<div class="content bg-color-transition" [style.background-color]="bgColor">
  <!-- intro -->
  <div>
    <app-about-intro (introStarted)="onIntroStarted()" (introEnded)="onIntroEnded()"></app-about-intro>
  </div>

  <!-- project -->
  <div class="margin-x1">
    <app-about-project [dark]="dark"></app-about-project>
  </div>

  <!-- team -->
  <div class="margin-x1 margin-y1">
    <app-about-team [dark]="dark"></app-about-team>
  </div>
</div>
