<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>¿Quiénes somos?</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <section class="parallax bg-1">
    <div class="caption">
      <span class="border">Proyecto SiPeCaM</span>
    </div>
  </section>
  <!--<ion-slides pager="true" [options]="slideOpts" class="slider">
    <ion-slide>
      <h1>Slide 1</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>-->
  <section class="text-section">
    <p>
      Los Sitios Permanentes de Calibración y Monitoreo de la Biodiversidad (SiPeCaM) es un proyecto nacional que tiene
      como objetivo reconocer la importancia en que la biodiversidad está asociada al bienestar de la salud humana en
      relación con las enfermedades zoonóticas, mediante la evaluación de la condición de los ecosistemas terrestres en
      el país.
    </p>
  </section>

  <section class="parallax bg-2"></section>

  <section class="text-section">
    <p>
      Este proyecto es de carácter nacional y está diseñado para ser instalado y resguardado por las comunidades locales
      e indígenas que habitan dichos territorios, en un esquema de monitoreo comunitario y ciencia ciudadana el cual es
      auspiciado por la CONABIO a partir del 2019 con asesoría de la Universidad de Stanford y la Universidad Nacional
      Autónoma de México.
    </p>
  </section>

  <section class="parallax bg-3"></section>

  <section class="text-section">
    <p>
      SiPeCaM permite evaluar el efecto de la defaunación –extinción de individuos y especies animales— producto de la
      actividad humana mediante cámaras trampa y grabadoras de sonidos. Parte de los resultados de este proyecto
      permitirán además dar recomendaciones pertinentes en la evaluación de la efectividad de proyectos sustentables e
      incorporar información clave en el Índice de Integridad Ecosistémica desarrollado por la CONABIO en colaboración
      con el INECOL A.C. y que actualmente solo incorpora información de vegetación.
    </p>
  </section>

  <section class="parallax bg-equipo">
    <div class="caption">
      <span class="border">Equipo</span>
    </div>
  </section>

  <section class="team-section">
    <ion-card>
      <h2>Dr. Rodolfo Dirzo</h2>
      <p>Ecología</p>
      <ion-card-content>
        <!--<ion-item>
          <ion-thumbnail slot="start">
            <img src="assets/equipo/RDirzo.jpg" />
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
            <h2>Dr. Rodolfo Dirzo</h2>
            <p>Ecología</p>
          </ion-label>
        </ion-item> -->
        <br />
        <img src="assets/equipo/RDirzo.jpg" ALIGN="left" />
        <p>
          Estudió biología en la Universidad Autónoma de Morelos. Después, llevó a cabo su maestría y doctorado en la
          Universidad de Gales, Gran Bretaña, estudiando la ecología evolutiva de la relación entre plantas y animales.
          A su regreso a México se incorporó a la UNAM, donde ha sido investigador en el Instituto de Biología e
          Instituto de Ecología; Director de la Estación Biológica Los Tuxtlas, e Investigador del Instituto de
          Ecología. Su trabajo en Los Tuxtlas contribuyó a la declaración de la Reserva de la Biosfera de Los Tuxtlas.
        </p>
        <p>
          Desde 2005 es profesor en el Departamento de Biología de la Universidad Stanford. Ademas de su investigación,
          dicta cursos de Conservación Biológica, Ecología, y Diversidad Biocultural.
        </p>
        <p>
          Sus campos de trabajo son la ecología y la conservación biológica y las consecuencias de la defaunación sobre
          los ecosistemas y la salud humana. Además, hace divulgación de la ciencia, y mantiene programas educativos en
          ciencias, dirigidos a estudiantes de grupos minoritarios, de familias de inmigrantes en California.
        </p>
      </ion-card-content>
    </ion-card>
  </section>

  <section class="parallax bg-4"></section>

  <section class="team-section">
    <ion-card>
      <h2>Dr. Michael Schmidt</h2>
      <p>Percepción remota</p>
      <ion-card-content>
        <br />
        <img src="assets/equipo/Michael.jpeg" ALIGN="left" />
        <p>
          Geoecólogo. Investigador en percepción remota, inició programa monitoreo de incendios, métodos estudios de
          biodiversidad con datos satélites, desarrollo del sistema MRV-AD REDD+ (MAD-Mex) y el sistema nacional de
          monitoreo de biodiversidad (SNMB), desarrollo sistemas automáticos de monitoreo.
        </p>
      </ion-card-content>
    </ion-card>
  </section>

  <section class="parallax bg-5"></section>

  <section class="team-section">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-card>
            <h2>Dr. Mariana Munguía Carrara</h2>
            <p>Biología Ambiental</p>
            <ion-card-content>
              <img src="assets/equipo/Mariana.jpg" ALIGN="left" />
              <p>
                Bióloga, estudió en la Universidad Nacional Autónoma de México. Con interés en el área de la
                conservación de la biodiversidad y en conocer las variables determinantes de la distribución geográfica
                de las especies.
              </p>
              <p>
                Actualmente participa en la implementación del monitoreo multitaxa para detectar procesos de
                defaunación, los cambios en la diversidad funcional y composición de las comunidades ecológicas. Así
                como los efectos en la salud humana como consecuencia de la pérdida de la biodiversidad por causa de las
                actividades antropogénicas.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-md="6">
          <ion-card>
            <h2>Biól. Pedro Gabriel Díaz Maeda</h2>
            <p>Ecología y Sistemas de Información Geográfica</p>
            <ion-card-content>
              <img src="assets/equipo/Pedro.png" ALIGN="left" />
              <p>
                Biólogo. Mi interés se centra en el estudio de las comunidades vegetales, su estructura, composición y
                funcionamiento, así como su clasificación, dinámica y distribución en el territorio. Dadas las presiones
                ejercidas por nuestra especie sobre los recursos naturales resulta impostergable el establecimiento de
                sistemas de monitoreo robustos que nos permitan valorar los impactos sobre los ecosistemas de una forma
                geográficamente explícita, así la información generada acerca de la salud e integridad de los mismos
                podrá servir de mejor manera a los tomadores de decisiones, tanto regionales como locales, acerca de las
                acciones a seguir para su conservación y manejo. Asistir en la instrumentación de un sistema de
                monitoreo es una de mis principales actividades.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <section class="parallax bg-6"></section>

  <section class="team-section">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-card>
            <h2>Mtro. Santiago Martínez Balvanera</h2>
            <p>Matemáticas</p>
            <ion-card-content>
              <img src="assets/avatar.svg" ALIGN="left" />
              <p>
                Matemático. Me interesa estudiar las formas en las que la biodiversidad manifiesta, a través del sonido,
                información acerca de su composición y dinámica. Junto con mi equipo, trabajamos para generar
                herramientas analíticas y computacionales que permitan extraer información ecológica de grabaciones
                sonoras de campo. Buscamos impulsar a la acústica como un instrumento eficiente de monitoreo de la
                biodiversidad en México.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-md="6">
          <ion-card>
            <h2>Mtro. Everardo Robredo Esquivelzeta</h2>
            <p>---</p>
            <ion-card-content>
              <img src="assets/equipo/Everardo.png" ALIGN="left" />
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <section class="parallax bg-7"></section>

  <section class="team-section">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-card>
            <h2>Dr. Oliver López Corona</h2>
            <p>Fisica Aplicada a la Ecologia</p>
            <ion-card-content>
              <img src="assets/equipo/Oliver.png" ALIGN="left" />
              <p>
                Fisico e investigador de Cátedras CONACyT en CONABIO, trabajo principalmente en un marco teórico
                (termodinámico-informacional) de la Salud Ecosistémica que incluya el estado actual de salud en términos
                de composición, estructura y función (Integridad); la dinámica del sistema (criticalidad); y el tipo de
                respuesta a perturbaciones externas (Antifragilidad). En esa misma línea, busco cómo expandir nuestro
                marco teórico a la otras escalas para medir la salud planetaria y relacionado con ello, cómo
                reinterpretar la crisis planetaria en términos no de un Antropoceno sino Tecnoceno. Página personal:
                www.lopezoliver.otrasenda.org
              </p></ion-card-content
            >
          </ion-card>
        </ion-col>
        <ion-col size="12" size-md="6">
          <ion-card>
            <h2>Mtro. Erick Palacios Moreno</h2>
            <p>Matemáticas Aplicadas a la Ciencia de Datos</p>
            <ion-card-content>
              <img src="assets/equipo/Erick.png" ALIGN="left" />
              <p>
                Matemático Aplicado. El análisis y la implementación de algoritmos para resolver problemas de
                Matemáticas es lo que me apasiona. En los últimos años me he enfocado en el análisis, ajuste y
                despliegue de modelos de forma reproducible, portable y escalable en la Ciencia de Datos. Con mi equipo
                en CONABIO he desarrollado el software para procesamiento de imágenes satelitales de nombre MAD-Mex
                versión antares3. Me encanta construir herramientas para resolver problemas, programar algoritmos en
                diferentes lenguajes, tocar guitarra, hacer ejercicio y visitar lugares de naturaleza en compañía de
                Alicia, mi familia y amistades.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <section class="parallax bg-8"></section>

  <section class="team-section">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-card>
            <h2>Lic. Rodrigo Mejia Velázquez</h2>
            <p>Administración de Proyectos</p>
            <ion-card-content>
              <img src="assets/equipo/RodrigoMejia.jpg" ALIGN="left" />
              <p>
                Administrador con especialidad en Administracion de proyectos financieros. En el desarrollo de mi
                profesion he tenido mayormente experiencia en la implementacion de proyectos enfocados al medio
                ambiente, en los cuales desde la parte administrativa, he tenido la oportunidad de conocer los diferente
                temas en los que hemos participado y con los cuales hemos obtenido resultados con un impacto mas alla de
                lo administrativo. Me interesa que mi labor administrativa se vea reflejada en proyectos hacia el
                cuidado y conservacion del medio ambiente que le de un valor agregado a mi trabajo y a la labor que
                realizo.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-md="6">
          <ion-card>
            <h2>Ing. Ixchel Meza Chávez</h2>
            <p>Ciencia de Datos</p>
            <ion-card-content>
              <img src="assets/equipo/Ixchel.png" ALIGN="left" />
              <p>
                Científica de Datos. Colaboro en la implementación e investigación de algoritmos para procesamiento de
                imágenes y audio obtenidos con tecnologías de monitoreo de la biodiversidad, así como en el desarrollo
                y/o implementación de herramientas y métodos que permitan dicho procesamiento siguiendo buenas prácticas
                de Ciencia de Datos. Colaboré en el proyecto MAD-Mex en 2019. Mis intereses se centran principalmente en
                el desarrollo e implementación de algoritmos aplicados en el área de las Ciencias Naturales.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <section class="parallax bg-9"></section>

  <section class="team-section">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-card>
            <h2>Lic. Omar Miranda Aranda</h2>
            <p>Ciencias de la Computación</p>
            <ion-card-content>
              <img src="assets/equipo/Omar.jpg" ALIGN="left" />
              <p>
                Computólogo, literato en finanzas y curioso de la biodoversidad. Me interesa participar en proyectos que
                apoyen en la conservación del medio ambiente a mediano y largo plazo, me parce escencial aportar
                positivamente a todo proyecto en beneficio de nuestro hogar al que llamamos planeta. La escalada en roca
                y el aikido son mi fuente de energía.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-md="6">
          <ion-card>
            <h2>Mtro. Julián Equihua Benítez</h2>
            <p>Ciencia de Datos</p>
            <ion-card-content>
              <img src="assets/equipo/Julian.png" ALIGN="left" />
              <p>
                Matemático aplicado y geomático. Estoy interesado en la aplicación de la Ciencia de Datos a los
                problemas ecológicos de gran escala. He trabajado principalmente en desarrollar algoritmos de detección
                de cambios con base en imágenes satelitales, en flujos de trabajo para generar cartografía de parámetros
                estructurales de vegetación a nivel nacional para México y en el modelado y estimación de Integridad
                Ecosistémica de los ecosistémas del país.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
</ion-content>
