.content {
  font-size: 20px;
  overflow-y: scroll;
  font-family: "Poppins", serif;
}

.bg-color-transition {
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

.font-family {
  font-family: "Poppins", serif;
}

.margin-x1 {
  margin-left: 13%;
  margin-right: 13%;

  @media screen and (max-width: 500px) {
    margin-left: 8%;
    margin-right: 8%;
  }

  @media screen and (max-width: 400px) {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.margin-y1 {
  margin-bottom: 450px;
}
