<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>¿Quiénes somos?</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <section class="parallax bg-1">
    <div class="caption">
      <span class="border">Proyecto SiPeCaM</span>
    </div>
  </section>

  <section class="text-section">
    <p>
      Los Sitios Permanentes de Calibración y Monitoreo de la Biodiversidad (SiPeCaM) es un proyecto nacional que tiene
      como objetivo reconocer la importancia en que la biodiversidad está asociada al bienestar de la salud humana en
      relación con las enfermedades zoonóticas, mediante la evaluación de la condición de los ecosistemas terrestres en
      el país.
    </p>
    <p>
      Este proyecto es de carácter nacional y está diseñado para ser instalado y resguardado por las comunidades locales
      e indígenas que habitan dichos territorios, en un esquema de monitoreo comunitario y ciencia ciudadana el cual es
      auspiciado por la CONABIO a partir del 2019 con asesoría de la Universidad de Stanford y la Universidad Nacional
      Autónoma de México.
    </p>
  </section>

  <section class="parallax bg-2"></section>

  <section class="text-section">
    <p>
      SiPeCaM permite evaluar el efecto de la defaunación –extinción de individuos y especies animales— producto de la
      actividad humana mediante cámaras trampa y grabadoras de sonidos. Parte de los resultados de este proyecto
      permitirán además dar recomendaciones pertinentes en la evaluación de la efectividad de proyectos sustentables e
      incorporar información clave en el Índice de Integridad Ecosistémica desarrollado por la CONABIO en colaboración
      con el INECOL A.C. y que actualmente solo incorpora información de vegetación.
    </p>
  </section>

  <section class="parallax bg-equipo">
    <div class="caption">
      <span class="border">Equipo</span>
    </div>
  </section>

  <section class="team-section">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-card>
            <h3>Dr. Rodolfo Dirzo</h3>
            <p>Ecología</p>
            <ion-card-content>
              <img src="assets/equipo/RDirzo.jpg" ALIGN="left" />
              <p>
                Estudió biología en la Universidad Autónoma de Morelos. Después, llevó a cabo su maestría y doctorado en
                la Universidad de Gales, Gran Bretaña, estudiando la ecología evolutiva de la relación entre plantas y
                animales. A su regreso a México se incorporó a la UNAM, donde ha sido investigador en el Instituto de
                Biología e Instituto de Ecología; Director de la Estación Biológica Los Tuxtlas, e Investigador del
                Instituto de Ecología. Su trabajo en Los Tuxtlas contribuyó a la declaración de la Reserva de la
                Biosfera de Los Tuxtlas.
              </p>
              <p>
                Desde 2005 es profesor en el Departamento de Biología de la Universidad Stanford. Ademas de su
                investigación, dicta cursos de Conservación Biológica, Ecología, y Diversidad Biocultural. Sus campos de
                trabajo son la ecología y la conservación biológica y las consecuencias de la defaunación sobre los
                ecosistemas y la salud humana.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-md="6">
          <ion-card>
            <h3>Dr. Mariana Munguía Carrara</h3>
            <p>Biología Ambiental</p>
            <ion-card-content>
              <img src="assets/equipo/Mariana.jpg" ALIGN="left" />
              <p>
                Bióloga, estudió en la Universidad Nacional Autónoma de México. Con interés en el área de la
                conservación de la biodiversidad y en conocer las variables determinantes de la distribución geográfica
                de las especies.
              </p>
              <p>
                Actualmente participa en la implementación del monitoreo multitaxa para detectar procesos de
                defaunación, los cambios en la diversidad funcional y composición de las comunidades ecológicas. Así
                como los efectos en la salud humana como consecuencia de la pérdida de la biodiversidad por causa de las
                actividades antropogénicas.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <section class="parallax bg-3"></section>

  <section class="team-section">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-card>
            <h3>Biól. Pedro Gabriel Díaz Maeda</h3>
            <p>Ecología y Sistemas de Información Geográfica</p>
            <ion-card-content>
              <img src="assets/equipo/Pedro.png" ALIGN="left" />
              <p>
                Biólogo. Mi interés se centra en el estudio de las comunidades vegetales, su estructura, composición y
                funcionamiento, así como su clasificación, dinámica y distribución en el territorio. Dadas las presiones
                ejercidas por nuestra especie sobre los recursos naturales resulta impostergable el establecimiento de
                sistemas de monitoreo robustos que nos permitan valorar los impactos sobre los ecosistemas de una forma
                geográficamente explícita, así la información generada acerca de la salud e integridad de los mismos
                podrá servir de mejor manera a los tomadores de decisiones, tanto regionales como locales, acerca de las
                acciones a seguir para su conservación y manejo. Asistir en la instrumentación de un sistema de
                monitoreo es una de mis principales actividades.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-md="6">
          <ion-card>
            <h3>Mtro. Santiago Martínez Balvanera</h3>
            <p>Matemáticas</p>
            <ion-card-content>
              <img src="assets/equipo/Santiago.jpg" ALIGN="left" />
              <p>
                Matemático. Me interesa estudiar las formas en las que la biodiversidad manifiesta, a través del sonido,
                información acerca de su composición y dinámica. Junto con mi equipo, trabajamos para generar
                herramientas analíticas y computacionales que permitan extraer información ecológica de grabaciones
                sonoras de campo. Buscamos impulsar a la acústica como un instrumento eficiente de monitoreo de la
                biodiversidad en México.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <section class="parallax bg-4"></section>

  <section class="team-section">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-card>
            <h3>Mtro. Everardo Robredo Esquivelzeta</h3>
            <p>Biología</p>
            <ion-card-content>
              <img src="assets/equipo/Everardo.png" ALIGN="left" />
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-md="6">
          <ion-card>
            <h3>Dr. Oliver López Corona</h3>
            <p>Física Aplicada a la Ecologia</p>
            <ion-card-content>
              <img src="assets/equipo/Oliver.png" ALIGN="left" />
              <p>
                Fisico e investigador de Cátedras CONACyT en CONABIO, trabajo principalmente en un marco teórico
                (termodinámico-informacional) de la Salud Ecosistémica que incluya el estado actual de salud en términos
                de composición, estructura y función (Integridad); la dinámica del sistema (criticalidad); y el tipo de
                respuesta a perturbaciones externas (Antifragilidad). En esa misma línea, busco cómo expandir nuestro
                marco teórico a la otras escalas para medir la salud planetaria y relacionado con ello, cómo
                reinterpretar la crisis planetaria en términos no de un Antropoceno sino Tecnoceno. Página personal:
                www.lopezoliver.otrasenda.org
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <section class="parallax bg-5"></section>

  <section class="team-section">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-card>
            <h3>Mtro. Julián Equihua Benítez</h3>
            <p>Ciencia de Datos</p>
            <ion-card-content>
              <img src="assets/equipo/Julian.png" ALIGN="left" />
              <p>
                Matemático aplicado y geomático. Estoy interesado en la aplicación de la Ciencia de Datos a los
                problemas ecológicos de gran escala. He trabajado principalmente en desarrollar algoritmos de detección
                de cambios con base en imágenes satelitales, en flujos de trabajo para generar cartografía de parámetros
                estructurales de vegetación a nivel nacional para México y en el modelado y estimación de Integridad
                Ecosistémica de los ecosistemas del país.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-md="6">
          <ion-card>
            <h3>Dr. Alejandro Ponce Mendoza</h3>
            <p>Ecología</p>
            <ion-card-content>
              <img src="assets/equipo/Alex.jpg" ALIGN="left" />
              <p>
                ¡Hola! Soy Alex. Estoy interesado en la ecología numérica y funcional y como visualizar esta información
                para la toma de decisiones. Realicé estudios de Tecnología de Alimentos (UIA) y después de trabajar
                brevemente en ordenamientos ecológicos me enamoré de la ecología. En mis estudios de maestría y
                doctorado estuve en el laboratorio de Ecología de Suelos del Departamento de Biotecnología del
                CINVESTAV. Después realicé post-doctorado en ECOSUR-Villahermosa y la UAM-Xochimilco trabajando tanto en
                selvas, pastizales, acahuales, lagunas y lagos con distintos grupos taxonómicos: insectos, peces, aves.
                Desde el 2015 me integré a CONABIO en proyectos relacionados con Agrobiodiversidad. Durante estos años
                en CONABIO me he enfocado en mostrar la gran cantidad de información a través de visualizaciones
                interactivas. Desde el 2023 me incorporé al proyecto COSMOS. Mis hobbies son andar en bici, leer y jugar
                ajedrez.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <section class="parallax bg-6"></section>

  <section class="team-section">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-card>
            <h3>Mtro. Miguel Angel Piña Avelino</h3>
            <p>Ciencias e Ingeniería de la Computación</p>
            <ion-card-content>
              <img src="assets/equipo/Miguel.jpg" ALIGN="left" />
              <p>
                Candidato a Doctor en Ciencias e Ingeniería de la Computación por la UNAM. Tengo interés en la
                computación teórica y práctica. Actualmente colaboro en CONABIO para el procesamiento de datos en el
                monitoreo de la biodiversidad, SIPECAM. Me gusta desarrollar herramientas que permitan resolver
                distintos tipos de problemas y en el caso del monitoreo de la biodiversidad, dar mi granito de arena
                utilizando mi conocimiento para ayudar en la conservación del medio ambiente.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-md="6">
          <ion-card>
            <h3>Ing. Francisco Javier Ramírez Paredes</h3>
            <p>Ciencias e Ingeniería de la Computación</p>
            <ion-card-content>
              <img src="assets/equipo/Francisco.jpg" ALIGN="left" />
              <p>
                Ingeniero de Software. Experimentado en los procesos de construcción y despliegue de sistemas de
                software, con todo lo que ello implica. Estoy conciente de que es urgente toda acción enfocada en el
                cuidado y preservación de nuestro planeta, y siento que es grande la deuda que tenemos en ese aspecto.
                ¿Cuál es tu definición favorita de la naturaleza? Me gusta esa definición que la define como una
                expresión sublime del amor, ciencia y trabajo de Quien la creó, pues menciona los aspectos clave para su
                cuidado y preservación.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <section class="parallax bg-7"></section>

  <!-- <section class="parallax bg-8"></section>
  <section class="parallax bg-9"></section> -->
</ion-content>
