.sipecam-background {
  min-height: 100%;
}
.text-bold {
  font-weight: bold !important;
}
.underline-row {
  padding-bottom: 1em;
  border-bottom: 2px solid black;
}
.node-row {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid rgba(170, 170, 170, 0.733);
}
.total-row {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.last-row {
  border-bottom: none;
  padding-bottom: 0px;
}
.table-header {
  position: sticky;
  top: 0;
  background: #ededed;
  border: none;
  z-index: 10;
  padding-top: 1em;
}
.table-dimensions {
  max-height: calc(100vh - 250px);
  overflow: auto;
}
.hidden {
  display: none !important;
}
.pie-chart {
  margin-top: 2em !important;
  width: 90%;
  height: 500px;
  margin: auto;
  margin-bottom: 5em;
}
.bar-chart {
  margin: auto;
  width: 90%;
  height: 500px;
}
