<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><span translate>Paisajes</span></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="calendar-container">
  <div ion-fixed class="sipecam-background1">
    <ion-grid class="ion-padding">
      <ion-row>
        <ion-col>
          <ion-title class="ion-text-center title" color="primary"
            ><span>Cúmulo {{ cumulo?.name }}</span></ion-title
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-title class="ion-padding">Selvas secas - Integro</ion-card-title>
            <ion-card-content>
              <div class="ion-text-center">
                <img
                  src="https://snmb.conabio.gob.mx/soundscape_snmb/process_sipecam/cumulo_32/soundscape_player_data/4_32_0_1279_2021-12-08T00%3A00%3A00.000%2B0000_243B1F055B1F95BF_18.477_-99.1682.png"
                  style="width: 100%"
                />
                <audio
                  controls
                  src="https://snmb.conabio.gob.mx/soundscape_snmb/process_sipecam/cumulo_32/soundscape_player_data/4_32_0_1279_2021-12-08T00%3A00%3A00.000%2B0000_243B1F055B1F95BF_18.477_-99.1682.wav"
                >
                  <a
                    href="https://snmb.conabio.gob.mx/soundscape_snmb/process_sipecam/cumulo_32/soundscape_player_data/4_32_0_1279_2021-12-08T00%3A00%3A00.000%2B0000_243B1F055B1F95BF_18.477_-99.1682.wav"
                  >
                    Download audio
                  </a>
                </audio>
              </div>
              <div>
                <h3>Estación: Lluvias</h3>
                <h3>Archivos totales: 2880</h3>
                <h3>Par válido: 5</h3>
                <h3>Longitud: -98.9999</h3>
                <h3>Latitud: 18.4195</h3>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-title class="ion-padding">Selvas secas - Degradado</ion-card-title>
            <ion-card-content>
              <div class="ion-text-center">
                <img
                  src="https://snmb.conabio.gob.mx/soundscape_snmb/process_sipecam/cumulo_32/soundscape_player_data/4_32_0_1280_2021-08-23T00%3A00%3A00.000%2B0000_248C7D075B1F81B1_18.4902_-99.137_plot.png"
                  style="width: 100%"
                />
                <audio
                  controls
                  src="https://snmb.conabio.gob.mx/soundscape_snmb/process_sipecam/cumulo_32/soundscape_player_data/4_32_0_1280_2021-08-23T00%3A00%3A00.000%2B0000_248C7D075B1F81B1_18.4902_-99.137.wav"
                >
                  <a
                    href="https://snmb.conabio.gob.mx/soundscape_snmb/process_sipecam/cumulo_32/soundscape_player_data/4_32_0_1280_2021-08-23T00%3A00%3A00.000%2B0000_248C7D075B1F81B1_18.4902_-99.137.wav"
                  >
                    Download audio
                  </a>
                </audio>
              </div>
              <div>
                <h3>Estación: Lluvias</h3>
                <h3>Archivos totales: 2880</h3>
                <h3>Par válido: 9</h3>
                <h3>Longitud: -99.137</h3>
                <h3>Latitud: 18.4902</h3>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
