ion-item {
  --min-height: 25px;
  font-size: 12px;
}

ion-item ion-label {
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 12px;
}

ion-item ion-radio {
  margin-inline-end: 5px;
  margin-top: 6px;
  margin-bottom: 6px;
}

ion-select {
  --padding-top: 2px;
  --padding-bottom: 2px;
}

.cursor-pointer {
  cursor: pointer;
}

.cluster-nodo {
  display: inline-block;
  background: #ff8900;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.nodo-integro {
  display: inline-block;
  background: #00ff00;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.nodo-degradado {
  display: inline-block;
  background: #ff0000;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.anp {
  display: inline-block;
  background: #14e614;
  opacity: 0.4;
  width: 16px;
  height: 16px;
}

.socio {
  display: inline-block;
  background-image: url(../../../assets/socio.svg);
  background-size: contain;
  opacity: 1;
  width: 16px;
  height: 16px;
}

.selva-seca {
  display: inline-block;
  background: #54a23f;
  opacity: 0.6;
  width: 16px;
  height: 16px;
}

.manglar {
  display: inline-block;
  background: #f8ee30;
  opacity: 0.6;
  width: 16px;
  height: 16px;
}

.bosque-templado {
  display: inline-block;
  background: #0d72b5;
  opacity: 0.6;
  width: 16px;
  height: 16px;
}

.matorral-xerofilo {
  display: inline-block;
  background: #f8a92a;
  opacity: 0.6;
  width: 16px;
  height: 16px;
}

.pastizales {
  display: inline-block;
  background: #a656f0;
  opacity: 0.6;
  width: 16px;
  height: 16px;
}

.bosque-templado-encinos {
  display: inline-block;
  background: #993e06;
  opacity: 0.6;
  width: 16px;
  height: 16px;
}

.selva-humeda {
  display: inline-block;
  background: #df1111;
  opacity: 0.6;
  width: 16px;
  height: 16px;
}

.bosque-mesofilo {
  display: inline-block;
  background: #f62cd5;
  opacity: 0.6;
  width: 16px;
  height: 16px;
}

.ie-0-01 {
  display: inline-block;
  background: #ff0000;
  opacity: 1;
  width: 16px;
  height: 16px;
}

.ie-0-1 {
  display: inline-block;
  background: #e82927;
  opacity: 1;
  width: 16px;
  height: 16px;
}

.ie-0-2 {
  display: inline-block;
  background: #f98939;
  opacity: 1;
  width: 16px;
  height: 16px;
}

.ie-0-3 {
  display: inline-block;
  background: #fec981;
  opacity: 1;
  width: 16px;
  height: 16px;
}

.ie-0-4 {
  display: inline-block;
  background: #ffedab;
  opacity: 1;
  width: 16px;
  height: 16px;
}

.ie-0-5 {
  display: inline-block;
  background: #ecf7ad;
  opacity: 1;
  width: 16px;
  height: 16px;
}

.ie-0-6 {
  display: inline-block;
  background: #c4e687;
  opacity: 1;
  width: 16px;
  height: 16px;
}

.ie-0-7 {
  display: inline-block;
  background: #97d265;
  opacity: 1;
  width: 16px;
  height: 16px;
}

.ie-0-8 {
  display: inline-block;
  background: #50a14a;
  opacity: 1;
  width: 16px;
  height: 16px;
}

.ie-0-9 {
  display: inline-block;
  background: #0c461d;
  opacity: 1;
  width: 16px;
  height: 16px;
}

.vegetacion {
  &-bosque-templado {
    display: inline-block;
    background: #4d642d;
    opacity: 1;
    width: 16px;
    height: 16px;
  }

  &-selva {
    display: inline-block;
    background: #4cb974;
    opacity: 1;
    width: 16px;
    height: 16px;
  }

  &-matorral {
    display: inline-block;
    background: #e59f26;
    opacity: 1;
    width: 16px;
    height: 16px;
  }

  &-pastizales {
    display: inline-block;
    background: #e0b762;
    opacity: 1;
    width: 16px;
    height: 16px;
  }

  &-tierras-agricolas {
    display: inline-block;
    background: #9c9877;
    opacity: 1;
    width: 16px;
    height: 16px;
  }

  &-urbano {
    display: inline-block;
    background: #b4b8bc;
    opacity: 1;
    width: 16px;
    height: 16px;
  }

  &-suelo-desnudo {
    display: inline-block;
    background: #3f2f21;
    opacity: 1;
    width: 16px;
    height: 16px;
  }

  &-agua {
    display: inline-block;
    background: #2eccfa;
    opacity: 1;
    width: 16px;
    height: 16px;
  }

  &-nubes {
    display: inline-block;
    background: #000000;
    opacity: 1;
    width: 16px;
    height: 16px;
  }
}

.perdida {
  &-2001 {
    display: inline-block;
    background: #fff5f0;
    opacity: 1;
    width: 16px;
    height: 16px;
  }

  &-2002 {
    display: inline-block;
    background: #ffebe2;
    opacity: 1;
    width: 16px;
    height: 16px;
  }

  &-2003 {
    display: inline-block;
    background: #ffe1d3;
    opacity: 1;
    width: 16px;
    height: 16px;
  }

  &-2004 {
    display: inline-block;
    background: #fed0bd;
    opacity: 1;
    width: 16px;
    height: 16px;
  }

  &-2005 {
    display: inline-block;
    background: #fdbea5;
    opacity: 1;
    width: 16px;
    height: 16px;
  }

  &-2006 {
    display: inline-block;
    background: #fcab8e;
    opacity: 1;
    width: 16px;
    height: 16px;
  }

  &-2007 {
    display: inline-block;
    background: #fc9777;
    opacity: 1;
    width: 16px;
    height: 16px;
  }

  &-2008 {
    display: inline-block;
    background: #fc8363;
    opacity: 1;
    width: 16px;
    height: 16px;
  }

  &-2009 {
    display: inline-block;
    background: #fc7050;
    opacity: 1;
    width: 16px;
    height: 16px;
  }

  &-2010 {
    display: inline-block;
    background: #f85a40;
    opacity: 1;
    width: 16px;
    height: 16px;
  }

  &-2011 {
    display: inline-block;
    background: #f24431;
    opacity: 1;
    width: 16px;
    height: 16px;
  }

  &-2012 {
    display: inline-block;
    background: #e53127;
    opacity: 1;
    width: 16px;
    height: 16px;
  }

  &-2013 {
    display: inline-block;
    background: #d42020;
    opacity: 1;
    width: 16px;
    height: 16px;
  }

  &-2014 {
    display: inline-block;
    background: #c1151a;
    opacity: 1;
    width: 16px;
    height: 16px;
  }

  &-2015 {
    display: inline-block;
    background: #ad1016;
    opacity: 1;
    width: 16px;
    height: 16px;
  }

  &-2016 {
    display: inline-block;
    background: #8e0912;
    opacity: 1;
    width: 16px;
    height: 16px;
  }

  &-2017 {
    display: inline-block;
    background: #67000d;
    opacity: 1;
    width: 16px;
    height: 16px;
  }
}
