<ion-grid class="ion-padding">
  <ion-row>
    <ion-col>
      <ion-title color="dark"><b>Visitas agendadas</b></ion-title>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col *ngIf="!visits.length" class="ion-text-center">
      <ion-title color="dark">Sin información</ion-title>
    </ion-col>
    <ion-col size="4" *ngFor="let v of visits; let i = index">
      <ion-card>
        <ion-card-content>
          <ion-item lines="none">
            <ion-label class="ion-text-wrap">
              <h2 class="text-bold ion-text-center">
                Del {{ v.calendar?.date_started }} al {{ v.calendar?.date_finished }}
              </h2>
              <br />
              <p>Nodo integro: {{ v.unique_node_pristine?.nomenclatura }}</p>
              <p>Nodo degradado: {{ v.unique_node_disturbed?.nomenclatura }}</p>
            </ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
