<ion-toolbar color="primary" class="ion-text-center">
  <h2 *ngIf="cumulo">Editar cúmulo {{ cumulo.idCumulo }}</h2>
  <h2 *ngIf="!cumulo">Agregar cúmulo</h2>
</ion-toolbar>

<ion-content>
  <form [formGroup]="cumuloForm">
    <ion-list class="ion-text-end">
      <ion-item>
        <ion-label position="fixed">Cúmulo ID</ion-label>
        <ion-input slot="end" type="number" formControlName="idCumulo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Estatus</ion-label>
        <ion-select slot="end" formControlName="status" interfaceOptions="popover">
          <ion-select-option [value]="true">Activo</ion-select-option>
          <ion-select-option [value]="false">Inactivo</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Criterio</ion-label>
        <ion-input slot="end" type="number" formControlName="criteria"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Número de socios</ion-label>
        <ion-input slot="end" type="number" formControlName="partner"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">¿Tiene acuerdo?</ion-label>
        <ion-checkbox slot="end" formControlName="hasAgreement" color="primary"></ion-checkbox>
      </ion-item>
      <ion-item *ngIf="cumuloForm.value.hasAgreement">
        <ion-label position="fixed">Acuerdo</ion-label>
        <ion-input slot="end" type="string" formControlName="agreement"></ion-input>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
<ion-footer class="ion-text-center">
  <ion-button fill="solid" [disabled]="cumuloForm.invalid" (click)="saveCumulo()">
    <span *ngIf="cumulo">Guardar cambios</span>
    <span *ngIf="!cumulo">Agregar cúmulo</span>
  </ion-button>
</ion-footer>
