/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */
.filters-popover {
  .popover-content {
    width: 600px;
  }
}

.sipecam-background {
  background-position: top;
  background-repeat: repeat;
  background-size: contain;
  background-image: url(../assets/background.png);
}

.text-capitalize {
  text-transform: capitalize;
}

.cal-time-events {
  display: none !important;
}

.cal-month-view .cal-cell-top {
  min-height: 63px;
}

.cal-month-view .cal-day-cell {
  min-height: 85px;
}

.img-slider-container {
  .ng-image-fullscreen-view .lightbox-wrapper {
    height: calc(100% - 56px) !important;
    top: unset !important;
    bottom: 0 !important;
  }

  .img-div {
    cursor: pointer;
  }
}

ion-item-divider {
  min-height: 1px;
  height: 1px;
}

.acustic-modal {
  align-items: center;
  justify-content: center;
  &::part(content) {
    width: 80%;
    height: 90%;
  }
}
