.flex-box-a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.lines-container {
  min-height: 60px;
  padding-top: 10px;
}
.line {
  width: 100px;
  height: 50px;
}

// logos
// ------- -------
.box-intro {
  height: 50vh;
  position: relative;
}

.bg-color-transition {
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

.box-bg {
  width: 100%;
  height: 100%;
  position: absolute;
}

.bg-logo-1 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../../../assets/logo-blanco.png);
}

.bg-logo-100 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../../../assets/logo.png);
}

.bg-logo-2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../../../assets/bg/Fauna_Flora_SiPeCaM-02.png);

  @media screen and (max-width: 500px) {
    background-size: 80%;
  }
}

.bg-logo-3 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../../../assets/bg/Fauna_Flora_SiPeCaM-03.png);

  @media screen and (max-width: 500px) {
    background-size: 80%;
  }
}

.bg-logo-4 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../../../assets/bg/Fauna_Flora_SiPeCaM-04.png);

  @media screen and (max-width: 500px) {
    background-size: 80%;
  }
}

.bg-logo-5 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../../../assets/bg/Fauna_Flora_SiPeCaM-05.png);

  @media screen and (max-width: 500px) {
    background-size: 80%;
  }
}

.bg-logo-6 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../../../assets/bg/Fauna_Flora_SiPeCaM-06.png);

  @media screen and (max-width: 500px) {
    background-size: 80%;
  }
}

.bg-logo-7 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../../../assets/bg/Fauna_Flora_SiPeCaM-07.png);

  @media screen and (max-width: 500px) {
    background-size: 80%;
  }
}

.bg-logo-8 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../../../assets/bg/Fauna_Flora_SiPeCaM-08.png);

  @media screen and (max-width: 500px) {
    background-size: 80%;
  }
}
// ------- -------

.bg-color-2 {
  border-bottom: 4px solid rgb(250, 84, 46);
}
.bg-color-2:hover {
  border: 4px solid rgb(250, 84, 46);
}

.bg-color-3 {
  border-bottom: 4px solid rgb(66, 74, 139);
}
.bg-color-3:hover {
  border: 4px solid rgb(66, 74, 139);
}

.bg-color-4 {
  border-bottom: 4px solid rgb(76, 163, 215);
}
.bg-color-4:hover {
  border: 4px solid rgb(76, 163, 215);
}

.bg-color-5 {
  border-bottom: 4px solid rgb(246, 209, 72);
}
.bg-color-5:hover {
  border: 4px solid rgb(246, 209, 72);
}

.bg-color-6 {
  border-bottom: 4px solid rgb(232, 146, 79);
}
.bg-color-6:hover {
  border: 4px solid rgb(232, 146, 79);
}

.bg-color-7 {
  border-bottom: 4px solid rgb(221, 88, 82);
}
.bg-color-7:hover {
  border: 4px solid rgb(221, 88, 82);
}

.bg-color-8 {
  border-bottom: 4px solid rgb(84, 183, 186);
}
.bg-color-8:hover {
  border: 4px solid rgb(84, 183, 186);
}
// ------- -------

// ------- -------
// loading ellipsis
// ------- -------
.lds-ellipsis-container {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  background: #000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
// ------- -------
