<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><span translate>Indicadores de avance</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-header class="filters-container">
  <ion-row>
    <ion-col>
      <ion-item class="filter-input">
        <ion-label>Ecosistema: </ion-label>
        <ion-select
          placeholder="Selecciona"
          interface="popover"
          [(ngModel)]="currentEcosystem"
          (ionChange)="ecosystemChanged()"
        >
          <ion-select-option value="todos">Todos</ion-select-option>
          <ion-select-option class="ion-text-wrap" *ngFor="let e of ecosystems" [value]="e.id">{{
            e.name
          }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <div ion-fixed>
    <ion-grid class="ion-padding">
      <ion-row>
        <ion-col class="ion-padding" size="12" size-md="9">
          <ion-row>
            <ion-title class="ion-text-start ion-no-padding" color="medium"> Visitas Registradas </ion-title>
            <ion-item-divider class="ion-margin-top" color="light"></ion-item-divider>
            <apx-chart
              class="chart"
              [series]="visitasChart.series"
              [chart]="visitasChart.chart"
              [dataLabels]="visitasChart.dataLabels"
              [plotOptions]="visitasChart.plotOptions"
              [yaxis]="visitasChart.yaxis"
              [xaxis]="visitasChart.xaxis"
              [legend]="visitasChart.legend"
              [colors]="['#2D82B7', '#56AAB8']"
            ></apx-chart>
          </ion-row>

          <ion-row>
            <ion-title class="ion-text-start ion-no-padding" color="medium"> Formularios </ion-title>
            <ion-item-divider class="ion-margin-top" color="light"></ion-item-divider>
            <apx-chart
              class="chart"
              [series]="formulariosChart.series"
              [chart]="formulariosChart.chart"
              [dataLabels]="formulariosChart.dataLabels"
              [plotOptions]="formulariosChart.plotOptions"
              [yaxis]="formulariosChart.yaxis"
              [legend]="formulariosChart.legend"
              [fill]="formulariosChart.fill"
              [stroke]="formulariosChart.stroke"
              [tooltip]="formulariosChart.tooltip"
              [xaxis]="formulariosChart.xaxis"
              [colors]="colors"
            ></apx-chart>
          </ion-row>
        </ion-col>

        <ion-col class="ion-padding" size="12" size-md="3">
          <ion-row>
            <ion-title class="ion-text-start ion-margin-top" color="medium"> Dispositivos adquiridos </ion-title>
            <ion-item-divider class="ion-margin-top" color="light"></ion-item-divider>
            <apx-chart
              class="chart"
              [series]="devicesTypeChart.series"
              [chart]="devicesTypeChart.chart"
              [labels]="devicesTypeChart.labels"
              [legend]="devicesTypeChart.legend"
              [plotOptions]="devicesTypeChart.plotOptions"
              [colors]="colors"
            ></apx-chart>
          </ion-row>

          <ion-row>
            <ion-title class="ion-text-start ion-margin-top" color="medium"> Dispositivos en campo </ion-title>
            <ion-item-divider class="ion-margin-top" color="light"></ion-item-divider>
            <apx-chart
              class="chart"
              [series]="activeDevicesChart.series"
              [chart]="activeDevicesChart.chart"
              [labels]="activeDevicesChart.labels"
              [legend]="activeDevicesChart.legend"
              [plotOptions]="activeDevicesChart.plotOptions"
              [colors]="colors"
            ></apx-chart>
          </ion-row>

          <ion-row>
            <ion-title class="ion-text-start ion-margin-top" color="medium"> Estado de los dispositivos </ion-title>
            <ion-item-divider class="ion-margin-top" color="light"></ion-item-divider>
            <apx-chart
              class="chart"
              [series]="devicesStatusChart.series"
              [chart]="devicesStatusChart.chart"
              [labels]="devicesStatusChart.labels"
              [legend]="devicesStatusChart.legend"
              [plotOptions]="devicesStatusChart.plotOptions"
              [colors]="colors"
            ></apx-chart>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-padding" size="12" size-md="6">
          <ion-row>
            <ion-title class="ion-text-start ion-no-padding" color="medium"> Archivos entregados </ion-title>
            <ion-item-divider class="ion-margin-top" color="light"></ion-item-divider>
            <apx-chart
              class="chart"
              [series]="filesChart.series"
              [chart]="filesChart.chart"
              [xaxis]="filesChart.xaxis"
              [dataLabels]="filesChart.dataLabels"
              [colors]="filesChart.colors"
              [legend]="filesChart.legend"
              [yaxis]="filesChart.yaxis"
            ></apx-chart>
          </ion-row>
        </ion-col>
        <ion-col class="ion-padding" size="12" size-md="6">
          <ion-row>
            <ion-title class="ion-text-start ion-no-padding" color="medium"> Datos entregados (Terabytes) </ion-title>
            <ion-item-divider class="ion-margin-top" color="light"></ion-item-divider>
            <apx-chart
              class="chart"
              [series]="filesSizeChart.series"
              [chart]="filesSizeChart.chart"
              [xaxis]="filesSizeChart.xaxis"
              [dataLabels]="filesSizeChart.dataLabels"
              [colors]="filesSizeChart.colors"
              [legend]="filesSizeChart.legend"
              [yaxis]="filesSizeChart.yaxis"
            ></apx-chart>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-padding" size="12" size-md="4">
          <ion-row>
            <ion-title class="ion-text-start ion-no-padding" color="medium">
              Archivos de imágenes y videos entregados (Acumulación trimestral)
            </ion-title>
            <ion-item-divider class="ion-margin-top" color="light"></ion-item-divider>
            <apx-chart
              class="chart"
              [series]="filesAccChart.series"
              [chart]="filesAccChart.chart"
              [xaxis]="filesAccChart.xaxis"
              [dataLabels]="filesAccChart.dataLabels"
              [colors]="filesAccChart.colors"
              [legend]="filesAccChart.legend"
              [yaxis]="filesAccChart.yaxis"
            ></apx-chart>
          </ion-row>
        </ion-col>
        <ion-col class="ion-padding" size="12" size-md="4">
          <ion-row>
            <ion-title class="ion-text-start ion-no-padding" color="medium">
              Archivos de audio entregados (Acumulación trimestral)
            </ion-title>
            <ion-item-divider class="ion-margin-top" color="light"></ion-item-divider>
            <apx-chart
              class="chart"
              [series]="filesAudioChart.series"
              [chart]="filesAudioChart.chart"
              [xaxis]="filesAudioChart.xaxis"
              [dataLabels]="filesAccChart.dataLabels"
              [colors]="filesAudioChart.colors"
              [legend]="filesAudioChart.legend"
              [yaxis]="filesAudioChart.yaxis"
            ></apx-chart>
          </ion-row>
        </ion-col>

        <ion-col class="ion-padding" size="12" size-md="4">
          <ion-row>
            <ion-title class="ion-text-start ion-no-padding" color="medium">
              Datos entregados (Acumulación trimestral - Terabytes)
            </ion-title>
            <ion-item-divider class="ion-margin-top" color="light"></ion-item-divider>
            <apx-chart
              class="chart"
              [series]="filesSizeAccChart.series"
              [chart]="filesSizeAccChart.chart"
              [xaxis]="filesSizeAccChart.xaxis"
              [dataLabels]="filesSizeAccChart.dataLabels"
              [colors]="filesSizeAccChart.colors"
              [legend]="filesSizeAccChart.legend"
              [yaxis]="filesSizeAccChart.yaxis"
            ></apx-chart>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
