ion-item {
  --min-height: 25px;
  font-size: 12px;
}

ion-item ion-label {
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 12px;
}

ion-item ion-radio {
  margin-inline-end: 5px;
  margin-top: 6px;
  margin-bottom: 6px;
}

ion-select {
  --padding-top: 2px;
  --padding-bottom: 2px;
}

.cluster-nodo {
  display: inline-block;
  background: #ff8900;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.nodo-integro {
  display: inline-block;
  background: #00ff00;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.nodo-degradado {
  display: inline-block;
  background: #ff0000;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.anp {
  display: inline-block;
  background: #14e614;
  opacity: 0.4;
  width: 16px;
  height: 16px;
}

.selva-seca {
  display: inline-block;
  background: #54a23f;
  opacity: 0.6;
  width: 16px;
  height: 16px;
}

.manglar {
  display: inline-block;
  background: #f8ee30;
  opacity: 0.6;
  width: 16px;
  height: 16px;
}

.bosque-templado {
  display: inline-block;
  background: #0d72b5;
  opacity: 0.6;
  width: 16px;
  height: 16px;
}

.matorral-xerofilo {
  display: inline-block;
  background: #f8a92a;
  opacity: 0.6;
  width: 16px;
  height: 16px;
}

.pastizales {
  display: inline-block;
  background: #a656f0;
  opacity: 0.6;
  width: 16px;
  height: 16px;
}

.bosque-templado-encinos {
  display: inline-block;
  background: #993e06;
  opacity: 0.6;
  width: 16px;
  height: 16px;
}

.selva-humeda {
  display: inline-block;
  background: #df1111;
  opacity: 0.6;
  width: 16px;
  height: 16px;
}

.bosque-mesofilo {
  display: inline-block;
  background: #f62cd5;
  opacity: 0.6;
  width: 16px;
  height: 16px;
}

.ie-0-01 {
  display: inline-block;
  background: #ff0000;
  opacity: 1;
  width: 16px;
  height: 16px;
}

.ie-0-1 {
  display: inline-block;
  background: #e82927;
  opacity: 1;
  width: 16px;
  height: 16px;
}

.ie-0-2 {
  display: inline-block;
  background: #f98939;
  opacity: 1;
  width: 16px;
  height: 16px;
}

.ie-0-3 {
  display: inline-block;
  background: #fec981;
  opacity: 1;
  width: 16px;
  height: 16px;
}

.ie-0-4 {
  display: inline-block;
  background: #ffedab;
  opacity: 1;
  width: 16px;
  height: 16px;
}

.ie-0-5 {
  display: inline-block;
  background: #ecf7ad;
  opacity: 1;
  width: 16px;
  height: 16px;
}

.ie-0-6 {
  display: inline-block;
  background: #c4e687;
  opacity: 1;
  width: 16px;
  height: 16px;
}

.ie-0-7 {
  display: inline-block;
  background: #97d265;
  opacity: 1;
  width: 16px;
  height: 16px;
}

.ie-0-8 {
  display: inline-block;
  background: #50a14a;
  opacity: 1;
  width: 16px;
  height: 16px;
}

.ie-0-9 {
  display: inline-block;
  background: #0c461d;
  opacity: 1;
  width: 16px;
  height: 16px;
}
