<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-right">
        <ion-button (click)="resetFilters()" size="small" fill="clear" color="dark">
          Limpiar filtros
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col size="12">
        <h6>Mostrar</h6>
        <ion-list>
          <ion-radio-group
            allowEmptySelection="true"
            [(ngModel)]="filters.layer"
            (ionChange)="filterChanged('layer', $event)"
          >
            <ion-item lines="none">
              <ion-radio value="ecosistemas" slot="start"></ion-radio>
              <ion-label>Ecosistemas</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-radio value="integridad_ecosistemica" slot="start"></ion-radio>
              <ion-label>Integridad ecosistémica</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-radio value="vegetacion" slot="start"></ion-radio>
              <ion-label>Vegetación y usos de suelo</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-radio value="perdida_vegetacion" slot="start"></ion-radio>
              <ion-label>Pérdida de vegetación</ion-label>
            </ion-item>
          </ion-radio-group>
        </ion-list>
        <ion-list *ngIf="filters.layer === 'ecosistemas'" class="ion-text-left">
          <ion-item lines="none">
            <span class="selva-seca" slot="start"></span>
            <ion-label>Selva Seca</ion-label>
          </ion-item>
          <ion-item lines="none">
            <span class="manglar" slot="start"></span>
            <ion-label>Manglar</ion-label>
          </ion-item>
          <ion-item lines="none">
            <span class="bosque-templado" slot="start"></span>
            <ion-label>Bosque Templado</ion-label>
          </ion-item>
          <ion-item lines="none">
            <span class="matorral-xerofilo" slot="start"></span>
            <ion-label>Matorral Xerofilo</ion-label>
          </ion-item>
          <ion-item lines="none">
            <span class="pastizales" slot="start"></span>
            <ion-label>Pastizales</ion-label>
          </ion-item>
          <ion-item lines="none">
            <span class="bosque-templado-encinos" slot="start"></span>
            <ion-label>Bosque Templado Encinos</ion-label>
          </ion-item>
          <ion-item lines="none">
            <span class="selva-humeda" slot="start"></span>
            <ion-label>Selva Húmeda</ion-label>
          </ion-item>
          <ion-item lines="none">
            <span class="bosque-mesofilo" slot="start"></span>
            <ion-label>Bosque Mesófilo</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12">
        <h6>Nodos</h6>
        <ion-list>
          <ion-item lines="none">
            <ion-label>Ecosistema</ion-label>
            <ion-select
              placeholder="Selecciona"
              interface="popover"
              [(ngModel)]="filters.ecosystem"
              (ionChange)="filterChanged('ecosystem', $event)"
            >
              <ion-select-option [value]="null">Todos</ion-select-option>
              <ion-select-option class="ion-text-wrap" *ngFor="let e of ecosystems" value="{{ e.ecosistema }}">{{
                e.ecosistema
              }}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Degradación</ion-label>
            <ion-select
              placeholder="Selecciona"
              interface="popover"
              [(ngModel)]="filters.integrity"
              (ionChange)="filterChanged('integrity', $event)"
            >
              <ion-select-option [value]="null">Todos</ion-select-option>
              <ion-select-option value="Integro">Integro</ion-select-option>
              <ion-select-option value="Degradado">Degradado</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col size="12">
        <h6>Leyendas</h6>
        <ion-list class="ion-text-left">
          <ion-item lines="none">
            <span class="cluster-nodo" slot="start"></span>
            <ion-label>Clúster de n nodos</ion-label>
          </ion-item>
          <ion-item lines="none">
            <span class="nodo-integro" slot="start"></span>
            <ion-label>Nodo integro</ion-label>
          </ion-item>
          <ion-item lines="none">
            <span class="nodo-degradado" slot="start"></span>
            <ion-label>Nodo degradado</ion-label>
          </ion-item>
          <ion-item lines="none">
            <span class="anp" slot="start"></span>
            <ion-label>ANP</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
