<ion-split-pane contentId="main-content" disabled="true">
  <ion-menu contentId="main-content" menuId="main-menu">
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>SiPeCaM</ion-title>
        <ion-buttons slot="end">
          <ion-button *ngIf="!isLoggedIn" (click)="login()">
            <small>Iniciar sesión</small> <ion-icon slot="end" name="log-in"></ion-icon>
          </ion-button>
          <ion-button *ngIf="isLoggedIn" (click)="logout()">
            <small>Cerrar sesión</small> <ion-icon slot="end" name="log-out"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div ion-fixed class="menu-background">
        <ion-list lines="full" class="ion-no-padding">
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerDirection]="'root'" routerLink="/mapa" routerLinkActive="active-link">
              <ion-icon name="map" slot="start"></ion-icon>
              <ion-label><span translate>Mapa</span></ion-label>
            </ion-item>
          </ion-menu-toggle>
          <!--<ion-menu-toggle auto-hide="false" *ngIf="isLoggedIn">
            <ion-item [routerDirection]="'root'" routerLink="/eventos" routerLinkActive="active-link">
              <ion-icon name="calendar" slot="start"></ion-icon>
              <ion-label><span translate>Eventos</span></ion-label>
            </ion-item>
          </ion-menu-toggle>-->
          <!--<ion-menu-toggle auto-hide="false" *ngIf="isLoggedIn">
            <ion-item [routerDirection]="'root'" routerLink="/sitios" routerLinkActive="active-link">
              <ion-icon name="leaf" slot="start"></ion-icon>
              <ion-label><span translate>Sitios</span></ion-label>
            </ion-item>
          </ion-menu-toggle>-->
          <!--<ion-menu-toggle auto-hide="false" *ngIf="isLoggedIn">
            <ion-item [routerDirection]="'root'" routerLink="/socios" routerLinkActive="active-link">
              <ion-icon name="people" slot="start"></ion-icon>
              <ion-label><span translate>Socios</span></ion-label>
            </ion-item>
          </ion-menu-toggle>-->
          <ion-menu-toggle auto-hide="false" *ngIf="isAdmin">
            <ion-item [routerDirection]="'root'" routerLink="/zendro" routerLinkActive="active-link">
              <ion-icon name="settings" slot="start"></ion-icon>
              <ion-label><span translate>Zendro</span></ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerDirection]="'root'" routerLink="/manual" routerLinkActive="active-link">
              <ion-icon name="document" slot="start"></ion-icon>
              <ion-label><span translate>Manual</span></ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerDirection]="'root'" routerLink="/quienes-somos" routerLinkActive="active-link">
              <ion-icon name="information-circle" slot="start"></ion-icon>
              <ion-label><span translate>¿Quiénes somos?</span></ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-label *ngIf="isLoggedIn" class="user-label">Bienvenido usuario {{ username }}</ion-label>
      </div>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
