<div [class.text-white]="dark">
  <section>
    <div class="box-title">
      <span>Proyecto</span>
    </div>
  </section>

  <div class="flex-box-a">
    <section class="text-section flex-box-item-a-1">
      <p>
        Los Sitios Permanentes de Calibración y Monitoreo de la Biodiversidad (SiPeCaM) es un proyecto nacional que
        tiene como objetivo reconocer la importancia en que la biodiversidad está asociada al bienestar de la salud
        humana en relación con las enfermedades zoonóticas, mediante la evaluación de la condición de los ecosistemas
        terrestres en el país.
      </p>
      <p>
        Este proyecto es de carácter nacional y está diseñado para ser instalado y resguardado por las comunidades
        locales e indígenas que habitan dichos territorios, en un esquema de monitoreo comunitario y ciencia ciudadana
        el cual es auspiciado por la CONABIO a partir del 2019 con asesoría de la Universidad de Stanford y la
        Universidad Nacional Autónoma de México.
      </p>
    </section>

    <section class="text-section flex-box-item-a-2">
      <div class="box-bullet">La biodiversidad se asocia al bienestar de la salud humana.</div>
    </section>
  </div>

  <div class="flex-box-b">
    <section class="text-section flex-box-item-b-1 flex-box-c">
      <p class="flex-box-item-c-1">
        SiPeCaM permite evaluar el efecto de la defaunación —extinción de individuos y especies animales— producto de la
        actividad humana mediante cámaras trampa y grabadoras de sonidos. Parte de los resultados de este proyecto
        permitirán además dar recomendaciones pertinentes en la evaluación de la efectividad de proyectos sustentables e
        incorporar información clave en el Índice de Integridad Ecosistémica desarrollado por la CONABIO en colaboración
        con el INECOL A.C. y que actualmente solo incorpora información de vegetación.
      </p>
    </section>
  </div>
</div>
