<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><span translate>Eventos de muestreo</span></ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" value="calendar">
      <ion-segment-button value="calendar">
        Calendario
      </ion-segment-button>
      <ion-segment-button value="people">
        Monitores
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="activeSection === 'calendar'">
  <div ion-fixed class="sipecam-background">
    <ion-grid class="ion-padding">
      <ion-row>
        <ion-col>
          <ion-title class="ion-text-center title" color="primary"
            ><span translate>Cúmulo {{ cumuloId }}</span></ion-title
          >
        </ion-col>
      </ion-row>

      <ion-row class="ion-text-center text-bold">
        <ion-col>Nombre</ion-col>
        <ion-col>Nodo integro</ion-col>
        <ion-col>Nodo degradado</ion-col>
        <ion-col>Visita temporada Lluvias</ion-col>
        <ion-col>Visita temporada Seca</ion-col>
        <ion-col>Color</ion-col>
      </ion-row>
      <ion-row *ngFor="let event of events">
        <ion-col class="ion-text-center"
          ><ion-text>{{ event.title }}</ion-text></ion-col
        >
        <ion-col class="ion-text-center">
          <ion-select
            interface="popover"
            cancelText="Cancelar"
            okText="Seleccionar"
            placeholder="Seleccionar"
            [(ngModel)]="event.notDegradedNode"
            (ngModelChange)="eventChanged()"
          >
            <ion-select-option [value]="null">Seleccionar</ion-select-option>
            <ion-select-option disabled="{{ n.selected }}" *ngFor="let n of notDegradedNodes" [value]="n.id">{{
              n.id
            }}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-select
            interface="popover"
            cancelText="Cancelar"
            okText="Seleccionar"
            placeholder="Seleccionar"
            [(ngModel)]="event.degradedNode"
            (ngModelChange)="eventChanged()"
          >
            <ion-select-option [value]="null">Seleccionar</ion-select-option>
            <ion-select-option disabled="{{ n.selected }}" *ngFor="let n of degradedNodes" [value]="n.id">{{
              n.id
            }}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col class="ion-text-center">
          <input
            type="text"
            mwlFlatpickr
            [(ngModel)]="event.firstVisit"
            [altInput]="true"
            [convertModelValue]="true"
            [defaultValue]="'today'"
            dateFormat="Y-m-d"
            altFormat="F j, Y"
            placeholder="Especifique"
            (ngModelChange)="eventChanged()"
            [disabled]="true"
          />
        </ion-col>
        <ion-col class="ion-text-center">
          <input
            type="text"
            mwlFlatpickr
            [(ngModel)]="event.secondVisit"
            [altInput]="true"
            [convertModelValue]="true"
            [defaultValue]="'today'"
            dateFormat="Y-m-dT"
            altFormat="F j, Y"
            placeholder="Especifique"
            (ngModelChange)="eventChanged()"
            [disabled]="true"
          />
        </ion-col>
        <ion-col class="ion-text-center">
          <input type="color" [(ngModel)]="event.color.primary" (ngModelChange)="eventChanged()" />
          <input type="color" [(ngModel)]="event.color.secondary" (ngModelChange)="eventChanged()" />
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card>
      <ion-card-content>
        <ion-grid class="ion-padding">
          <ion-row>
            <ion-col size="4" class="ion-text-center">
              <ion-button
                size="small"
                mwlCalendarPreviousView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()"
              >
                Anterior
              </ion-button>
              <ion-button color="light" size="small" mwlCalendarToday [(viewDate)]="viewDate">
                Hoy
              </ion-button>
              <ion-button
                size="small"
                mwlCalendarNextView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()"
              >
                Siguiente
              </ion-button>
            </ion-col>
            <ion-col size="4" class="ion-text-center text-capitalize">
              <h3>{{ viewDate | calendarDate: view + 'ViewTitle':locale }}</h3>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              <ion-button
                size="small"
                [color]="view === CalendarView.Month ? 'primary' : 'light'"
                (click)="setView(CalendarView.Month)"
              >
                Mes
              </ion-button>
              <ion-button
                size="small"
                [color]="view === CalendarView.Week ? 'primary' : 'light'"
                (click)="setView(CalendarView.Week)"
              >
                Semana
              </ion-button>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <div [ngSwitch]="view">
                <mwl-calendar-month-view
                  *ngSwitchCase="CalendarView.Month"
                  [viewDate]="viewDate"
                  [events]="calendarEvents"
                  [activeDayIsOpen]="activeDayIsOpen"
                  [locale]="locale"
                  (dayClicked)="dayClicked($event.day)"
                >
                </mwl-calendar-month-view>
                <mwl-calendar-week-view
                  *ngSwitchCase="CalendarView.Week"
                  [viewDate]="viewDate"
                  [events]="calendarEvents"
                  [locale]="locale"
                >
                </mwl-calendar-week-view>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-content *ngIf="activeSection === 'people'">
  <div ion-fixed class="sipecam-background">
    <ion-grid class="ion-padding">
      <ion-row>
        <ion-col>
          <ion-title class="ion-text-center title" color="primary"
            ><span translate>Cúmulo {{ cumuloId }}</span></ion-title
          >
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-title color="secondary"><b>Agregar monitor</b></ion-title>
        </ion-col>
      </ion-row>

      <ion-row class="ion-text-center text-bold ion-margin" style="background-color: #0cd1e8;">
        <ion-col>
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input [(ngModel)]="monitor.nombre"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Apellido paterno</ion-label>
            <ion-input [(ngModel)]="monitor.apellidoPaterno"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Apellido materno</ion-label>
            <ion-input [(ngModel)]="monitor.apellidoMaterno"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Contacto</ion-label>
            <ion-input [(ngModel)]="monitor.contacto"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="2"
          ><ion-button
            color="light"
            (click)="addMonitor()"
            [disabled]="!monitor.nombre || !monitor.apellidoPaterno || !monitor.apellidoMaterno || !monitor.contacto"
            >Agregar</ion-button
          ></ion-col
        >
      </ion-row>

      <ion-row>
        <ion-col size="4" *ngFor="let m of monitores">
          <ion-card>
            <ion-card-content>
              <ion-item lines="none">
                <ion-label class="ion-text-wrap">
                  <h3>{{ m.nombre }} {{ m.apellidoPaterno }} {{ m.apellidoMaterno }}</h3>
                  <p>{{ m.contacto }}</p>
                </ion-label>
                <ion-buttons>
                  <ion-button size="small" color="secondary">
                    <ion-icon slot="icon-only" name="create"></ion-icon>
                  </ion-button>
                  <ion-button size="small" color="secondary">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
